PORT=3001
## DATABASE_URL=postgresql://postgres:postgres@localhost:5432/pace_db
DATABASE_URL=postgresql://neondb_owner:npg_OF2yniJICQN0@ep-long-fog-a1ninujr-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
CLERK_PUBLISHABLE_KEY=pk_test_dm9jYWwtd3Jlbi05Mi5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_R4Uclf7gZqNaJvB0irzveNifn9Zfs8FiI4mdd4XrbW
