PORT=3001
## DATABASE_URL=postgresql://postgres:postgres@localhost:5432/pace_db
DATABASE_URL=adsasdsafasf
CLERK_PUBLISHABLE_KEY=sdfdafsdfXYk
CLERK_SECRET_KEY=ssdafsdf
# REDIS_URL=rediss://default:AVNS_gDnocv_jqs4uMSe7UAf@valkey-5df8e6-mapmyindia.a.aivencloud.com:10340



REDIS_HOST=fsdafasdf
REDIS_PORT=dasdasd
REDIS_USERNAME=defasadasdult
REDIS_PASSWORD=adsasd

OPENAI_API_KEY=api_keyherer
OPENAI_MODEL=gemini-flash-latest